*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: aquamarine;
}

main{
    grid-area: main;
    background-color: white;
}

#curriculum{
    margin:20px auto;
    width:797px;
    height:1123px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "lateral principal principal";
}

.lateral { 
    grid-area: lateral;
    padding:20px;
    background-color: #222126;
    color:white;
}
.lateral p{
    color:#ebebeb;
}
.principal { 
    grid-area: principal;
    padding:20px 20px;
}
h2{
    margin:0px 0px 8px;
    padding-bottom:5px;
    font-size: .9rem;
    text-transform: uppercase;
    border-bottom:2px solid black;
}
.adicionales h2{
    margin:0px 0px 10px;
}
.empresa, 
.establecimiento,
.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.empresa{
    margin-top: -0.2rem;
}

.empresa h4, 
.establecimiento h4,
.empresa p,
.titulo p{
    margin:0px;
    padding:.3rem .5rem;
}

.empresa h4,
.establecimiento h4{
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    padding:.3rem .5rem;
    margin:0px;
}

.exp-item,
.form-item{
    position:relative;
    padding-left:1.5rem;;
    padding-bottom:2px;
    padding-top:2px;
}
.exp-item:hover,
.form-item:hover{
    outline:dashed 2px rgb(182, 182, 182);
}

.exp-item:last-child .timeline_linea,
.form-item:last-child .timeline_linea{
    display:none;
}
.exp-item h3,
.form-item h3{
    margin:0px;
    /*line-height:10px;*/
    font-size: .9rem;
    padding:.3rem .5rem;
}
p.texto{
    margin:0px;
    margin-top:-.2rem;
    padding:.3rem .5rem;
    font-size: .8rem;
    /*line-height: .9rem;*/
}

.fecha{
    font-size:.8rem;
}
p.estado{
    margin:0px;
    text-transform: uppercase;
    font-size: .7rem;
    padding: 0.3rem 0.5rem;
}
.timeline_linea{
    height:100%;
    width:2px;
    background-color: black;
    position:absolute;
    left:10px;
    top:.425rem;
}
.timeline_circulo{
    position:absolute;
    width:16px;
    height:16px;
    top:.425rem;
    left:3px;
    background-color: white;
    border-radius:16px;
    z-index:999;
}
.timeline_circulo::after{
    font: var(--fa-font-solid);
    content: "\f192";
    font-size: 10px;
    position:absolute;
    top:3px;
    left:3px;
    z-index:99;
}
.adicionales{
    display:flex;
    flex-direction: column;
}
.ad-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.ad-item p{
    margin:0px;
    padding:.3rem .5rem;
    font-size: .8rem;
}
.ad-item:hover{
    outline:dashed 2px rgb(182, 182, 182);
}
.perfil h1{
    margin: 0px 0px 0px -0.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 0.1rem 0.5rem;
}

.perfil{
    padding: 10px 12px 10px 20px;
    margin-bottom: 20px;
    margin-left: -20px;
    display: inline-block;
    background-color: #ffcb00;
}

.perfil h1:hover,
.perfil p:hover{
    outline:dashed 2px rgb(182, 182, 182);
}
.perfil p {
    text-transform: uppercase;
    font-size: .8rem;
    margin: 0px 0px 0px -.5rem;
    padding: .2rem .5rem;
}
.avatar p,
.social-links p{
    font-size: .8rem;
    line-height: 1rem;
    margin: -0.3rem -0.5rem;
    padding: 0.3rem 0.5rem;
}

.lateral section{
    padding: .3rem 0.5rem;
    margin: 0px -0.5rem 5px -.5rem;
}
.lateral section:hover{
    outline:dashed 2px rgb(182, 182, 182);
}

.lateral h3{
    border-bottom: 2px solid #ffcb00;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-bottom:5px;
    margin:0px 0px 8px;

}
.social-links{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.social-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
}
.social-item i{
    font-size: 1.1rem;
}

.data-item p:first-child{
    text-transform: uppercase;
}
.data-item p:last-child{
    margin-bottom: 8px;
    margin-left: -0.3rem;
    padding: 0.3rem;
}
.data-item:last-child p{
    margin-bottom:0px;
}
.data-item p{
    font-size: .8rem;
    margin:0px;
}
.contact-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.contact-item p{
    font-size: .8rem;
    margin:0px;
    padding:.3rem;
}
.contact-item i{
    font-size: 1rem;
}

.avatar img{
    width:80%;
    margin-bottom: 20px;
    clip-path: ellipse(47% 50% at 50% 50%);
}
.avatar label{
    display: block;
    margin-bottom: 5px;
}
.avatar button{
    margin-top:5px;
}
.editFoto{
    position:absolute;
    top:0;
    right:10%;
}
.select-link{
    position:absolute;
    padding:.5rem 0px;
    background-color:rgba(0, 0, 0, 0.616);
    bottom:0;
}
figure{
    margin:0px;
    position:relative;
}
.avatar figure{
    text-align: center;
}
.qr img{
    width:160px;
    display: block;
    margin:15px auto;

}
[contenteditable=true]{
    cursor:text;
    user-select: text;
    outline:none;
}

[contenteditable=true]:empty::before{
    content: attr(placeholder);
    color:grey;
}
[contenteditable=true]:focus{
    background-color: rgba(0, 0, 0, 0.144);
}

section.experiencias,
section.formacion{
    margin-bottom:10px;
}
.input-container {
    /* padding: 4px; */
    overflow: hidden;
    position: absolute;
    color: green;
    cursor: pointer;
    font-size: 1.5rem;
    /* border: 2px solid white;
    border-radius: 20px; */
    display: inline-block;
    top: 0;
    right: 10px;
  }
  
  .input-container [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
.modulo-header{
    position:relative;
}
.control{
    position: absolute;
    top: 0;
    right: 0;
}
@media print {
    @page {
        size: A4 portrait;
        margin:0px;
    }
    body{
        display:unset;
    }
    .exp-item:hover,
    .form-item:hover,
    .ad-item:hover,
    .perfil h1:hover,
    .perfil p:hover,
    .lateral section:hover{
        outline:none;
    }
    .avatar label,
    .avatar input,
    .avatar button,
    .input-container,
    .control{
        display:none;
    }
    #curriculum{
        margin:0px;
        height:100vh;
    }
    .lateral{
        z-index: 99;
    }
    .perfil{
        z-index: 9;
    }
    }