*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

main{
    background-color: white;
}

h1,h2,h3,h4,p{
    font-family: 'Poppins', sans-serif;
}

#curriculum{
    margin:20px 50px;
    /*padding:10px;*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.lateral { 
    grid-area: 1 / 1 / 2 / 2;
    padding:20px;
    background-color: #222126;
    color:white;
}
.principal { 
    grid-area: 1 / 2 / 2 / 3;
    padding:20px 40px;
}
h2{
    margin:0px 0px 15px;
    padding-bottom:5px;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom:2px solid black;
}
.adicionales h2{
    margin:0px 0px 10px;
}
.empresa, 
.establecimiento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.empresa h4, 
.establecimiento h4,
.empresa p{
    margin:0px;
}

.empresa h4,
.establecimiento h4{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 400;
}

.exp-item,
.form-item{
    position:relative;
    padding-left:25px;
    padding-bottom:20px;
}
.exp-item:last-child .timeline_linea,
.form-item:last-child .timeline_linea{
    display:none;
}
.exp-item h3,
.form-item h3{
    margin:0px 0px 10px 0px;
    line-height:10px;
    font-size: 1rem;
}
p.texto{
    margin:5px 0px 0px 0px;
    font-size: .9rem;
    line-height: 1.1rem;
}
p.estado{
    margin:0px;
    text-transform: uppercase;
    font-size: .8rem;
}
.timeline_linea{
    height:100%;
    width:2px;
    background-color: black;
    position:absolute;
    left:4px;
    top:0px;
}
.timeline_circulo{
    position:absolute;
    width:10px;
    height:10px;
    top:0px;
    left:0px;
    background-color: black;
    border-radius:16px;
    z-index:999;
}
.timeline_circulo_back{
    position:absolute;
    width:16px;
    height:16px;
    top:-3px;
    left:-3px;
    background-color: white;
    border-radius:16px;
    z-index:99;
}
.adicionales{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.ad-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.perfil h1{
    margin-bottom:0px;
    font-size: 2rem;
    text-transform: uppercase;
}

.perfil{
    padding: 20px 0px 20px 40px;
    margin-bottom: 20px;
    margin-left: -40px;
    width:80%;
    background-color: #ffcb00;
}
.perfil p{
    text-transform: uppercase;
}

@media print {
    #curriculum{
        margin:0px;
        height:100vh;
    }
    .lateral{
        z-index: 99;
    }
    .perfil{
        z-index: 9;
    }
    }